BurtZhang/SOA/SOA/SOA.UnitTest/Connected Services/MyWebWCF/MyWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/WCF/MyWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/WCF/MyWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/WCF/MyWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOA.Web.Remoting" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyWCF_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IMyWCF_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IMyWCF_GetString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetString" />
  </wsdl:message>
  <wsdl:message name="IMyWCF_GetString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStringResponse" />
  </wsdl:message>
  <wsdl:message name="IMyWCF_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IMyWCF_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyWCF">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyWCF/DoWork" message="tns:IMyWCF_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyWCF/DoWorkResponse" message="tns:IMyWCF_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetString">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyWCF/GetString" message="tns:IMyWCF_GetString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyWCF/GetStringResponse" message="tns:IMyWCF_GetString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyWCF/GetUsers" message="tns:IMyWCF_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyWCF/GetUsersResponse" message="tns:IMyWCF_GetUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyWCF" type="tns:IMyWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IMyWCF/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetString">
      <soap:operation soapAction="http://tempuri.org/IMyWCF/GetString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IMyWCF/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyWCF">
    <wsdl:port name="BasicHttpBinding_IMyWCF" binding="tns:BasicHttpBinding_IMyWCF">
      <soap:address location="http://localhost:8080/WCF/MyWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>